---
layout: archive
title: "Portfólio"
permalink: /portfolio/
author_profile: true
---

Em desenvolvimento!

<h2>Projetos / GitHub:</h2>
<h4>JavaScript, HTML e CSS</h4>
<p><a href="https://github.com/marinabotton/alura_jogo_pong.git">
  Jogo Pong
</a></p>
<p><a href="https://github.com/marinabotton/alura_jogo_freeway.git">
  Jogo Freeway
</a></p>

<h4>Python</h4>
<p><a href="https://github.com/marinabotton/alura_jogo_adivinhacao.git">
  Jogo da Adivinhação
</a></p>
<p><a href="https://github.com/marinabotton/alura_jogo_forca.git">
  Jogo da Forca
</a></p>

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

