---
layout: archive
title: "Portfólio"
permalink: /portfolio/
author_profile: true
---
{% include base_path %}
<h2>GitHub:</h2> 
<h3>JavaScript, HTML e CSS</h3>
<p><a href="https://github.com/marinabotton/alura_jogo_pong.git">
  Jogo Pong
</a></p>
<p><a href="https://github.com/marinabotton/alura_jogo_freeway.git">
  Jogo Freeway
</a></p>
<h3>Python</h3>
<p><a href="https://github.com/marinabotton/alura_jogo_adivinhacao.git">
  Jogo da Adivinhação
</a></p>
<p><a href="https://github.com/marinabotton/alura_jogo_forca.git">
  Jogo da Forca
</a></p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
