---
layout: archive
title: "Portfólio"
permalink: /portfolio/
author_profile: true
---

Em desenvolvimento!

<h2>Projetos / GitHub:</h2>
<h4>JavaScript, HTML e CSS</h4>
* [Jogo Pong](https://github.com/marinabotton/alura_jogo_pong.git)
* [Jogo Freeway](https://github.com/marinabotton/alura_jogo_freeway.git)
<h4>Python</h4>
* [Jogo da Adivinhação](https://github.com/marinabotton/alura_jogo_adivinhacao.git)
* [Jogo da Forca](https://github.com/marinabotton/alura_jogo_forca.git)<br />

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

